<!DOCTYPE html>
<html lang="en">

<head>
    <title>Frontend Library demonstration - WhatIsMyBrowser.com</title>
    <meta name="description" content="check if we can set session storage" />

    <style>
        a {
            color: #508db4;
        }

        /* a quick reset on the IP address ul */
        #localips-detection ul,
        #localips-detection li {
            padding-left: 0;
            list-style-position: inside;
            margin: 0;
        }
    </style>

</head>

<body>
    <div id="result"></div>

</body>

<script>
    try {

        sessionStorage.setItem("timeStamp", Date.now());
        console.log(sessionStorage.getItem("timeStamp"))
        document.getElementById("result").innerHTML = sessionStorage.getItem("timeStamp");
    }
    catch (err) {
        document.getElementById("result").innerHTML = "An Error Occured: "+ err;
    }

</script>
</body>

</html>